<%- include('partials/header') %>
<main>
  <h1><%= title %></h1>
  <img src="/images/me.jpeg" alt="Picture of Tyler">
  <p>
    My name is Tyler Burdett and I am from Layton, Utah. 
    I am majoring in software engineering and am hoping to graduate in spring of 2026. 
    I love boating in the summer and skiing in the winter.
  </p>
</main>
<%- include('partials/footer') %>
